
*~
*.swp
*.so

# byte compiled files
__pycache__/
*.py[cod]

# build files and tarball directory
dist/
build/
MANIFEST
xrayutilities.egg-info/

# material library created during the installation
lib/xrayutilities/materials/data/elements.db
