name: $(BuildDefinitionName)_$(Date:yyyyMMdd)$(Rev:.rr)

resources:
  repositories:
  - repository: tox
    type: github
    endpoint: github
    name: tox-dev/azure-pipelines-template
    ref: refs/tags/0.2

jobs:
- template: run-tox-env.yml@tox
  parameters:
    tox_version: 'tox tox-wheel'
    jobs:
      fix_lint: null
      docs: null
      py38:
        image: [linux, windows, macOs]
      py37:
        image: [linux, windows, macOs]
