exclude \.*

include LICENSE.txt
include CHANGES.txt
include VERSION

# documentation files
include README.md
include xrayutilities.pdf
recursive-include doc/source *
recursive-include examples *

# C source files and tests
graft xrayutilities/src
recursive-include tests *.py

# include database files
graft xrayutilities/materials/data
