include LICENSE.txt
include CHANGES.txt
include VERSION

# documentation files
include README.md
include xrayutilities.pdf
recursive-include doc/source *

# examples
recursive-include examples *.py
graft examples/data

# C source files and tests
graft src
recursive-include tests *.py

# include database files
graft lib/xrayutilities/materials/data

# exclude development files
global-exclude .gitignore
exclude .travis.yml
exclude appveyor.yml
