include LICENSE.txt
include CHANGES.txt

# documentation files
include xrayutilities.pdf
recursive-include doc/source *
recursive-include examples *

# C source files and tests
graft xrayutilities/src
recursive-include xrayutilities/tests *.py
