[build-system]
requires = ["setuptools", "wheel", "numpy"]
build-backend = "setuptools.build_meta"

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py{36,37,38,39},coverage
distshare = {toxinidir}/dist

[testenv]
wheel = true
allowlist_externals =
    mv
deps =
    h5py
    lmfit
    matplotlib
    numpy
    scipy
    pytest
    pytest-cov
commands =
    pytest --cov --junitxml=.tox/junit.{envname}.xml --cov-report=xml:.tox/coverage.xml
    mv .coverage .tox/.coverage.{envname}

[testenv:coverage]
commands =
    coverage combine .tox/
    coverage xml -i -o .tox/coverage.xml
    coverage report -i
    mv .coverage .tox/
"""
