[build-system]
requires = ["setuptools", "wheel", "numpy"]
build-backend = "setuptools.build_meta"

[tool.coverage.paths]
source = [
    "lib",
    "*/site-packages"
]

[tool.coverage.run]
branch = true
parallel = true
source = [
    "xrayutilities"
]

[tool.pylint]
disable = ["invalid-name", "R", "C", "W"]
extension-pkg-whitelist = "xrayutilities.cxrayutilities"
ignored-modules = ["scipy.special"]

[tool.flake8]
extend-ignore = ["E741", "E203", ]
per-file-ignores = [
    "__init__.py:F401",
]
count = true
